/* NOTE: files within src/* are not tracked by courier (Only the public & views directory)*/
@import "tailwindcss";

@theme {
  --color-primary: #f89a21;
  --color-secondary: #c12c26;
  --color-background: #f9f9f9;
  --primary: #f89a21;
  --secondary: #c12c26;
  --background: #f9f9f9;

  --font-family-krona: "Krona One", sans-serif;
  --font-family-manrope: "Manrope", sans-serif;

  --animate-enter: enter 0.7s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
  --animate-leave: leave 0.7s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;

  @keyframes enter {
    0% {
      opacity: 0;
      transform: translateY(-40px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes leave {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(-40px);
    }
  }
}

.burger-link {
  @apply size-full flex justify-center;
}
