@import "tailwindcss";

@theme {
  --color-primary: #f89a21;
  --color-secondary: #c12c26;
  --color-background: #f9f9f9;

  --font-family-krona: "Krona One", sans-serif;
  --font-family-manrope: "Manrope", sans-serif;
}
